.tutorial {
  width: 30vw;
  height: auto;
  background-color: azure;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

#next {
  color: white;
  background-color: #77b287;
}
